bash
blinker
certifi
charset-normalizer
click
docker
exceptiongroup
Flask
idna
iniconfig
itsdangerous
Jinja2
MarkupSafe
packaging
pluggy
requests
tomli
urllib3
Werkzeug
alembic
sqlalchemy
psycopg2-binary
flask-sqlalchemy
Flask-Migrate
python-dotenv
passlib
flask-jwt-extended
flake8
pytest
pytest-cov
pydantic